<%= form_for(degree) do |f| %>
  <% if degree.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(degree.errors.count, "error") %> prohibited this degree from being saved:</h2>

      <ul>
      <% degree.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div degree="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
    <%= f.fields_for :subjects do |subjects_fields| %>
    <div class="field">
      <%= subjects_fields.label :name %><br>
      <%= subjects_fields.text_field :name %>
    </div>
    <% end %>

  <div degree="actions">
    <%= f.submit %>
  </div>
<% end %>
